grant {
    // Разрешаем доступ к сертификатам
    permission java.io.FilePermission "/etc/wazuh-indexer/certs/-", "read";
    permission java.io.FilePermission "/usr/share/wazuh-indexer/-", "read";
    permission java.io.FilePermission "/var/lib/wazuh-indexer/-", "read,write";
    permission java.io.FilePermission "/var/log/wazuh-indexer/-", "read,write";
    permission java.io.FilePermission "/tmp/-", "read,write,delete";
    
    // Разрешаем сетевые операции
    permission java.net.SocketPermission "*", "connect,resolve,listen";
    
    // Разрешаем системные свойства
    permission java.util.PropertyPermission "*", "read,write";
    
    // Разрешаем reflection
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "defineClass";
    
    // Разрешаем SSL операции
    permission java.lang.RuntimePermission "setFactory";
    permission java.net.NetPermission "setDefaultAuthenticator";
    permission javax.net.ssl.SSLPermission "setHostnameVerifier";
};
