<ossec_config>
  <client>
    <server>{{ wazuh_manager_address }}</server>
    <protocol>tcp</protocol>
    <auto_restart>yes</auto_restart>
  </client>

  <ossec_queue>
    <size>2048</size>
  </ossec_queue>

  <localfile>
{% for monitor in wazuh_localfile_monitors %}
    <log>{{ monitor.log }}</log>
    <log_format>syslog</log_format>
{% endfor %}
  </localfile>

  <syscheck>
    <frequency>43200</frequency>
    <scan_on_start>yes</scan_on_start>
{% for path in wazuh_syscheck_paths %}
    <directories>{{ path }}</directories>
{% endfor %}
    <skip_nfs>yes</skip_nfs>
  </syscheck>

  <rootcheck>
    <disabled>no</disabled>
  </rootcheck>

  <wodle name="osquery">
    <disabled>no</disabled>
    <run_daemon>yes</run_daemon>
    <log_path>/var/log/osquery/osqueryd.results.log</log_path>
    <config>/etc/osquery/osquery.conf</config>
  </wodle>
</ossec_config>
