[Unit]
Description=OpenSCAP scheduled compliance scan
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ openscap_scan_script }}

[Install]
WantedBy=multi-user.target
