[agent]
  interval = "60s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  flush_interval = "10s"
  flush_jitter = "0s"
  hostname = ""

#==============================================================================
# INPUTS
#==============================================================================

{% for input in telegraf_exec_inputs %}
[[inputs.exec]]
  commands = [{% for command in input.commands %}"{{ command }}"{% if not loop.last %}, {% endif %}{% endfor %}]
  timeout = "{{ input.timeout | default('5s') }}"
  data_format = "{{ input.data_format | default('json') }}"
{% if input.name_override is defined %}
  name_override = "{{ input.name_override }}"
{% endif %}
{% if input.json_tag_keys is defined %}
  json_tag_keys = [{% for key in input.json_tag_keys %}"{{ key }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
{% if input.json_string_fields is defined %}
  json_string_fields = [{% for key in input.json_string_fields %}"{{ key }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}

{% endfor %}

{% for output in telegraf_outputs %}
{% if output.type == 'http' %}
[[outputs.http]]
  url = "{{ output.url }}"
  data_format = "json"
  method = "POST"
  timeout = "5s"
{% if output.headers is defined %}
{% for header, value in output.headers.items() %}
  [[outputs.http.headers]]
    key = "{{ header }}"
    value = "{{ value }}"
{% endfor %}
{% endif %}
  insecure_skip_verify = {{ 'true' if output.get('insecure_skip_verify', False) else 'false' }}
{% elif output.type == 'influxdb_v2' %}
[[outputs.influxdb_v2]]
{% if output.urls is defined %}
  urls = [{% for url in output.urls %}"{{ url }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% endif %}
  token = "{{ output.token }}"
  organization = "{{ output.organization }}"
  bucket = "{{ output.bucket }}"
{% endif %}
{% endfor %}
